@charset "UTF-8";

body > main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head h2{
    margin: auto;
    text-align: center;
}

.head a{
    margin-left: auto;
}

.show_test{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    align-items: center;
    position: relative;
}

.test_with_end{
    display: flex;
    flex-direction: column;
    width: 60%;
 }

.left, .right{
    position: absolute;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.test{
    display:flex;
    background-color: #f3fbf2;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}

form{
    display: flex;
    flex-direction: column;
}

textarea{
    padding: 0.6rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    margin: 1rem;
    outline: none;
    width: 75%;
    transition: border-color 0.3s ease;
    max-height: 4rem;
}

#question_type1_answer, #question_type2_answer{
    gap: 1rem;
    display: flex;
    margin: 0 1rem 0 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    input{
        display: none;
    }
    label{
        padding: 0.5rem 0.8rem;
        border: 1px solid #ccc;
        border-radius: 0.4rem;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
        text-align: center;
        &:hover{
            background-color: #e0e0e0;
        }
    }
    input:checked + label {
        background-color: #9ee195;
        border-color: #9ee195;
    }
}

button, .end_test{
    padding: 0.8rem;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #9ee195;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1rem;
    &:hover{
        background-color: #369229;
    }
}

.end_test{
    color:black;
    text-align: center;
}

.result{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 7rem;
    border-bottom: 1px solid #e0e0e0;
    p, a{
        margin: 0.5rem;
    }
    #correct{
        color: #369229;
    }
    #wrong{
        color: red;
    }
    .wrong_info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: 43rem){
    body > main{
        gap: 2rem;
    }
    .test_with_end{
        width: 80%;
    }
}