<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title %}Wordly{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('/styles/general.css') }}">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        {% endblock %}
        {% block scripts %}
        {% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
        <header>
            <h1>Wordly</h1>
        </header>
        <main>
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
        </main>
        {% block footer %}
            <footer>
                <p>&copy; 2025 Systém pro výuku slov</p>
            </footer>
        {% endblock %}
    </body>
</html>
